{# Copyright 2024 Scape Agency BV #}

{# Link <a> #}

<a 
    href="{{ url_variable | e }}" 
    title="{{ title_variable | e }}" 
    rel="noopener noreferrer" 
    aria-label="{{ link_text | e }}"
    target="_blank"
>
    {{ link_text | e }}
</a>
