{# Copyright 2024 Scape Agency BV #}

{# Applet <applet> #}

{# 
    Note: The <applet> tag is deprecated in HTML5 and should not be used.
    Consider using <object> or <embed> instead. 
#}

<applet code="{{ applet_code }}" width="{{ width }}" height="{{ height }}">
    Alternate text for browsers that do not understand applets.
</applet>
