{# Copyright 2024 Scape Agency BV #}


{# Area (<area>  #}

<map name="{{ map_name | e }}">
    <area
        shape="{{ shape | e }}"
        coords="{{ coordinates | e }}"
        href="{{ url | e }}"
        alt="{{ alt_text | e }}"
        target="_blank"
        rel="noopener noreferrer"
    >
</map>
