{# Copyright 2024 Scape Agency BV #}


{#
    Area <area>
    ===========================================================================

    Defines an area inside an image map.
#}

<map name="{{ map_name | e }}">
    <area
        shape="{{ shape | e }}"
        coords="{{ coordinates | e }}"
        href="{{ url | e }}"
        alt="{{ alt_text | e }}"
        target="_blank"
        rel="noopener noreferrer"
    >
</map>
