{# Copyright 2024 Scape Agency BV #}

<!-- Navigation Menu -->
<nav>
    <ul>
        {% for item in menu_items %}
        <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
</nav>
