{# Copyright 2024 Scape Agency BV #}

<!-- Select Dropdown -->
<select name="dropdown">
    {% for option in options %}
    <option value="{{ option.value }}">{{ option.display }}</option>
    {% endfor %}
</select>
