<!-- Block Definitions for Template Inheritance -->
<!-- Base Template: -->
<html>
<head>
    {% block head %}
    <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
