{# Copyright 2024 Scape Agency BV #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic HTML5 Template</title>
    <link rel="stylesheet" href="index.css">

</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
        <nav>
            <ul>
                <li><a href="a.html">a</a></li>
                <li><a href="b.html">b</a></li>
                <li><a href="c.html">c</a></li>
            </ul>
        </nav>
    </header>
    <main>

        
    </main>
    <footer>
        <p>© 2024 Scape Agency. All rights reserved.</p>
    </footer>
</body>
</html>

